---
import { Icon } from "@astrojs/starlight/components";
import Demo from "@components/Demo.astro";
---

<Demo name="link">
  <ul x-init class="flex flex-col list-none p-0 m-0">
    <li class="py-2">
      <a
        class="text-foreground transition-colors hover:text-accent-600"
        href="#"
        x-link:current
      >
        Link to the <strong>current</strong> page
      </a>
    </li>

    <li class="py-2">
      <a
        class="text-foreground transition-colors hover:text-accent-600 flex items-center gap-1 group"
        href="https://upstatement.com"
        x-link:external
      >
        <span>Link to an <strong>external</strong> page</span>

        <Icon
          class="translate-y-[0.1rem] hidden group-data-[external='true']:inline"
          name="external"
        />
      </a>
    </li>
  </ul>
</Demo>
