---
import Demo from "@components/Demo.astro";
import code from "./code.html?raw";
---

<Demo
  name="progress"
  features={[
    "Provides context for assistive technology to read the progress of a task.",
  ]}
  html={code}
>
  <div
    class="bg-accent-200 w-full max-w-[500px] h-4 rounded-full relative overflow-hidden"
    x-init
    x-progress
    data-valuemin="0"
    data-valuemax="100"
    data-valuenow="30"
  >
    <div class="bg-accent h-full w-[var(--tb-progress,0)]" x-progress:indicator>
    </div>
  </div>
</Demo>
