<div x-init x-tabs.automatic>
  <div x-tabs:list.loop>
    <button x-tabs:trigger="tab1">Tab 1</button>
    <button x-tabs:trigger="tab2">Tab 2</button>
    <button x-tabs:trigger="tab3">Tab 3</button>
  </div>

  <div x-tabs:content="tab1">Tab 1 content</div>
  <div x-tabs:content="tab2">Tab 2 content</div>
  <div x-tabs:content="tab3">Tab 3 content</div>
</div>
