---
import { Icon } from "@astrojs/starlight/components";
import Demo from "@components/Demo.astro";
import code from "./code.html?raw";

const items = [
  {
    title: "Is it accessible?",
    content: "Yes. It adheres to the WAI-ARIA design pattern.",
  },
  {
    title: "Is it unstyled?",
    content:
      "Yes. It's unstyled by default, giving you freedom over the look and feel.",
  },
  {
    title: "Can it be animated?",
    content: "Yes! You can animate the Accordion with CSS and x-transition.",
    animate: true,
  },
];
---

<Demo
  name="accordion"
  features={[
    "Full keyboard navigation",
    "Supports vertical or horizontal orientation",
    "Can expand one or multiple items",
    "Can set default state per item",
    "Can animate the expansion of items",
  ]}
  html={code}
>
  <div
    class="flex flex-col w-full max-w-[500px] divide-y divide-gray-200 rounded-md overflow-hidden shadow-sm"
    x-init
    x-accordion.loop.single
  >
    {
      items.map((item) => (
        <div class="group text-base w-full bg-white" x-accordion:item>
          <button
            class="w-full bg-transparent text-foreground flex items-center justify-between cursor-pointer px-4 py-3 transition-colors hover:bg-gray-50"
            x-accordion:trigger
          >
            <span>{item.title}</span>

            <Icon
              class="transition-transform size-[1.2rem] group-data-[state='open']:rotate-180"
              name="down-caret"
            />
          </button>

          <div
            class:list={[item.animate && "transition-all", "grid"]}
            x-accordion:content
            x-transition:enter-start="grid-rows-[0fr]"
            x-transition:enter-end="grid-rows-[1fr]"
            x-transition:leave-start="grid-rows-[1fr]"
            x-transition:leave-end="grid-rows-[0fr]"
            x-cloak
          >
            <div class="overflow-hidden">
              <div class="px-4 py-3 text-foreground">{item.content}</div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</Demo>
