---
import { Icon } from "@astrojs/starlight/components";
import Demo from "@components/Demo.astro";
import code from "./code.html?raw";

const items = [
  {
    title: "Is it accessible?",
    content: "Yes. It adheres to the WAI-ARIA design pattern.",
  },
  {
    title: "Is it unstyled?",
    content:
      "Yes. It's unstyled by default, giving you freedom over the look and feel.",
  },
  {
    title: "Can it be animated?",
    content: "Yes! You can animate the Accordion with CSS or JavaScript.",
  },
];
---

<Demo
  name="accordion"
  features={[
    "Full keyboard navigation",
    "Supports vertical orientation",
    "Can expand one or multiple items",
    "Can set default state per item",
  ]}
  html={code}
>
  <div
    class="flex flex-col w-full max-w-[500px] divide-y divide-gray-200 rounded-md overflow-hidden"
    x-init
    x-accordion.loop.single
    slot="demo"
  >
    {
      items.map((item) => (
        <div class="group text-sm w-full bg-white" x-accordion:item>
          <button
            class="w-full bg-transparent text-foreground flex items-center justify-between cursor-pointer px-4 py-3 transition-colors hover:bg-gray-50"
            x-accordion:trigger
          >
            <span>{item.title}</span>

            <Icon
              class="transition-transform size-[1.2rem] group-data-[state='open']:rotate-180"
              name="down-caret"
            />
          </button>

          <div class="px-4 py-3 text-foreground" x-accordion:content x-cloak>
            {item.content}
          </div>
        </div>
      ))
    }
  </div>
</Demo>
