---
interface Props {
  directive: string;
  description: string;
  required?: boolean;
}

const { directive, description, required = false } = Astro.props;
---

<section class="my-16" aria-label={`Reference for ${directive}`}>
  <div
    class="not-content sm:items-center flex max-sm:flex-col gap-2 justify-between"
  >
    <h3 class="text-2xl">{directive}</h3>

    {
      required && (
        <span class="text-2xs w-fit border rounded-md px-1 py-0.5 border-accent uppercase bg-gray-100 text-accent">
          Required
        </span>
      )
    }
  </div>

  <hr />

  <p>{description}</p>

  {
    Astro.slots.has("modifiers") && (
      <div class="[&>table]:table [&_thead>tr]:!bg-gray-100 [&_tr]:!bg-transparent [&>table]:w-full [&_th]:text-left">
        <slot name="modifiers" />
      </div>
    )
  }
</section>
